body{
    background-color:gainsboro;
}

.card{
    background-color:aliceblue !important;
}

.thumbnail{
    width:40px !important;
    height:40px !important;
}

.comment-box{
    margin:1%;
}

.edit-comment-btn,.delete-comment-btn,.edit-post-button,.edit-comment-btn{
    font-size: 1em;
}

.buttonLink{
    color:white;
}