{% extends 'header.html' %}

{% block content %}
{% for result in posts %}

<div class="card">
    <div class="card-header">
        <img class="thumbnail mr-3 rounded-circle img-thumnail align-self-start"
            src="{{ url_for('static', filename='Images/' + result.Users.image_file) }}" alt="Author's Image">
        <a class="mr-2" href="#">{{result.Users.first_name + " " +result.Users.last_name}}</a>
    </div>
    <div class="card-body">
        <h3 class="card-title "><a href="{{ url_for('posts.post', post_id=result.Posts.post_id) }}"
                class="article-title">{{
                result.Posts.title }}</a></h3>
        <!-- <p class="article-content text-left">{{ result.Posts.content }}</p>
        
        <a href="#" class="btn btn-primary">View More</a> -->
    </div>
    <div class="card-footer text-muted">
        <div class="float-left">
            <p>{{ comment_count[loop.index-1]}} comments</p>
        </div>
        <div class="float-right">
            <p class="text-right"><b>Date Posted:</b> {{ result.Posts.date_posted.strftime('%Y-%m-%d') }}</p>
        </div>
    </div>
</div>
<br />
<!-- <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="mr-3 rounded-circle img-thumnail align-self-start size"
                src="{{ url_for('static', filename='Images/' + result.Users.image_file) }}" alt="Author's Image">
            <a class="mr-2" href="#">{{result.Users.first_name + " " +result.Users.last_name}}</a>
            <small class="text-muted">{{ result.Posts.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        
    </div>
</article> -->

{% endfor %}


{% endblock content %}