{% extends 'header.html' %}

{% block content %}
<!-- Post -->
<div class="card">
    <div class="card-header">
        <img class=" mr-3 rounded-circle img-thumnail align-self-start"
            src="{{ url_for('static', filename='Images/' + post.Users.image_file) }}" alt="Author's Image">
        <a class="mr-2" href="#">{{post.Users.first_name + " " +post.Users.last_name}}</a>
    </div>
    <div class="card-body">
        <h3 class="card-title text-center"><a href="{{ url_for('posts.post', post_id=post.Posts.post_id) }}"
                class="article-title">{{
                post.Posts.title }}</a></h3>
        <p class="article-content text-left">{{ post.Posts.content }}</p>
    </div>
    <div class="card-footer text-muted">
        <div class="float-left">
            <p>{{ comment_count}} comments</p>
        </div>
        <div class="float-right">
            <p class="text-right"><b>Date Posted:</b> {{ post.Posts.date_posted.strftime('%Y-%m-%d') }}</p>
        </div>
    </div>
</div>
<br />
<!-- Comment Box -->
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
    
        <div class="form-group">
            <b>Comment as {{ logged_user.first_name }} </b>

            {% if form.content.errors %}
            {{ form.content(class = "form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.content(class = "form-control") }}
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12 offset-md-10">
                {{ form.submit(class = "btn btn-primary") }}
            </div>
        </div>
    </fieldset>
</form>
<br/>



<!-- All Comments -->
{% for comment in comments %}

<div class="card comment-box">
    <div class="card-body">
        <h5 class="card-title">{{ comment.Users.first_name + " . " }}<small>{{ comment.Comments.date_posted.strftime('%Y-%m-%d') }}</small></h5>

        <p class="card-text">{{ comment.Comments.content }}</p>

    </div>
</div>

{% endfor %}


{% endblock content %}