{% extends 'header.html' %}
{% set active_page = "your_posts" %}

{% block content %}
{% for post in posts.items %}

<div class="card">

    <div class="card-body">

        <h3 class="card-title "><a href="{{ url_for('posts.post', post_id=post.post_id) }}" class="article-title">{{
                post.title }}</a></h3>



        <!-- <a href="#" class="btn btn-primary">View More</a>  -->
    </div>
    <div class="card-footer text-muted">
        <div class="float-left">
            <p>{{ comment_count[loop.index-1]}} comments</p>
        </div>
        <div class="float-right">
            <p class="text-right"><b>Date Posted:</b> {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
        </div>
    </div>
</div>
<br />
{% else %}
<h4 class = "alert alert-info">You have written 0 posts.</h4>

{% endfor %}

{% if posts is defined and posts.items|length > 1 %}
<!-- Pagination Links-->
<div class="text-center">
    <a href="{{ url_for('posts.your_posts', page=posts.prev_num) }}" class="btn btn-outline-info 
       {% if posts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
    {% if posts.page == page_num %}
    <a href="{{ url_for('posts.your_posts', page=page_num) }}" class="btn btn-info">
        {{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('posts.your_posts', page=page_num) }}" class="btn btn-outline-info">
        {{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    <a href="{{ url_for('posts.your_posts', page=posts.next_num) }}" class="btn btn-outline-info 
       {% if posts.page == posts.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
{% endif %}

{% endblock content %}